.cert-container{
    margin: 1rem 1rem;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1rem;
}
.cert-container li{
    list-style: none;
}
.cert-container a{
    color: white;
}