.contact{
    padding: 1rem 1rem;
    display: flex;
    margin: 0;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.contact-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact-list li {
    border: 3px solid gray;
    display: inline;
    padding: 0.5rem 0.5rem;
}
.contact-list h3{
    color: red;
}

@media screen and (max-width:1230px){
.contact-list{
    flex-direction: column;
}
}
@media screen and (max-width:420px){
.contact-list{
    font-size: 0.7rem;
}
}