.NavBar{
    height: 100vh;
}
.SkillsSection{
    width: 100%;
    
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin-top: 0.4rem;
    
}
.profile{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    border-bottom: 2px solid rgb(56, 56, 56);
}

.nav-item{
    list-style-type: none;
    /* text-align: center; */
    /* position: relative; */
}
.nav-item a {
    text-decoration: none;
    font-size: inherit;
    display: block;
    color: inherit;
    padding: 0.2rem 0.3rem;
    position: relative;
}
.nav-item a::before{
    content: "";
    position: absolute;
    /* top: 0;
    left: 0;
    width: .4rem;
    height: 100%; */
    overflow: hidden;
}
.nav-item a:hover{
    color: rgb(146, 146, 146);
    width: 100%;
    
}
img{
    width: 60%;
    border-radius: 100%;
    margin-bottom: 1rem;
}
footer{
    width: 100%;
}
footer p{
    text-align: center;
    padding: 1rem 0;
    font-size: 0.5rem;
}
.active{
  background-color: #222938;
  border-radius: 10px;
}

@media screen and (max-width:1164px){
    .nav-items{
        font-size: 0.8rem;
    }
   
}
/* @media screen and (max-width:700px){
    .nav{
        transform: translateX(-100%);
    }
} */