.skillsContainer{
    width: 60%;
    font-size: 0.7rem;
    border: 4px solid grey;
    padding: 1rem 1rem;
    margin: 0.4rem 0.4rem;
}
.skill-title{
    font-size: 1rem;
    font-weight: 400;
    padding: 0.4rem 0.4rem;
}

.skill-bar{
    display: flex;
    align-items: center;
    padding: 0rem 0.4rem;
}
        
.skill-progress{
    width: 100%;
}
.progress{
    width: 100%;
    height: .5rem;
    background-color: red;
    margin-left: 1rem;
    background-color: #0381ff3f;
    position: relative;
}
.inner-pregress{
    position: absolute;
    background-color: #037FFF;
    height: 100%;
    bottom: 0;
    left: 0;
}
           
        
    
