.skillsContainer{
    background-color: black;
    width: 80%;
    font-size: 0.7rem;
    border: 4px solid grey;
    padding: 1rem 1rem;
    margin: 0.4rem 0.4rem;
}
.skill-title{
    color: red;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.4rem 0.4rem;
}

.skill-bar{
    display: flex;
    align-items: center;
    padding: 0rem 0.4rem;
}
        
.skill-progress{
    width: 100%;
}
.progress{
    width: 100%;
    height: .5rem;
    background-color: red;
    /* margin-left: 1rem; */
    background-color: #ffffff;
    position: relative;
}
.inner-pregress{
    position: absolute;
    background-color: blue;
    height: 100%;
    bottom: 0;
    left: 0;
}
           
        
@media screen and (max-width:500px){
    .skillXyz .Title{
        font-size: 0.8rem;
    }
    .Title span{
        display: none;
    }
    .skill-title{
        font-size: 0.7rem;
    }
    .progress{
        height: 0.3rem;
    }
    .Title::after{
        display: none;
    }
    .Title::before{
        display: none;
    }
    .skillsContainer{
        padding: 0.5rem 1rem;
        width: 90%;
    }
}


