@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import './Styles/Title.css';
@import './Styles/NavBar.css';
@import './Styles/Education.css';
@import './Styles/Contact.css';
@import './Styles/Skills.css';
@import './Styles/Work.css';
@import './Styles/Certification.css';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    /* font-size: 1.2rem; */
}

.side-bar{
    width: 20%;
    height: 100vh;
    background-color: #191D2B;
    position: fixed;
}
.main-content{
    width: 80%;
    /* min-height: 100vh; */
    height: 100vh;
    margin-left: 20%;
    /* position: fixed; */
    background-color: black;
    position: relative;
    display: grid;
}
.content{
    margin: 1rem 2rem;
}

.pro-text{
    font-size: 0.6rem;
    display: flex;
    flex-direction: column;
}
.pro-text a{
    color: rgb(247, 97, 97);
}


/* typography for main-content */

.Home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
}
.main-text{
    text-align: center;
    font-size: 2rem;
}
.main-text span{
    color: rgb(255, 0, 0);
   font-family: 'Syne Mono', monospace;
}

.home-para{
    text-align: center;
    font-size: 0.8rem;
}

.icons-lists{
    padding: 2rem 2rem;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.icons-lists li{
    list-style-type: none;
    border:2px solid rgb(158, 158, 158);
    padding: 1rem 1rem;
}
.icons-item div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.icons-item div a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
}
.icon-text{
    font-size: 0.7rem;
}