@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import './Styles/Title.css';
@import './Styles/NavBar.css';
@import './Styles/Education.css';
@import './Styles/Contact.css';
@import './Styles/Skills.css';
@import './Styles/Work.css';
@import './Styles/Certification.css';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: black;
    /* height: fit-content; */
    /* font-size: 1.2rem; */
}

.side-bar{
    width: 20%;
    height: 100vh;
    background-color: #191D2B;
    position: fixed;
    z-index: 11;
    /* transition: all 0.4s ease-in-out; */
}
.main-content{
    width: 80%;
    /* min-height: 100vh; */
    height: 100vh;
    margin-left: 20%;
    /* position: fixed; */
    background-color: black;
    position: relative;
    display: grid;
    /* height: fit-content; */
}
.content{
    margin: 1rem 2rem;
}

.pro-text{
    font-size: 0.6rem;
    display: flex;
    flex-direction: column;
}
.pro-text a{
    color: rgb(247, 97, 97);
}


/* typography for main-content */

.Home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
}
.main-text{
    text-align: center;
    font-size: 2rem;
}
.main-text span{
    color: rgb(255, 0, 0);
   font-family: 'Syne Mono', monospace;
}

.home-para{
    text-align: center;
    font-size: 0.8rem;
}

.icons-lists{
    padding: 2rem 2rem;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.icons-lists li{
    list-style-type: none;
    border:2px solid rgb(158, 158, 158);
    padding: 1rem 1rem;
}
.icons-item div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.icons-item div a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
}
.icon-text{
    font-size: 0.7rem;
}

@media screen and (max-width:1164px){
    .main-text{
    font-size: 1.5rem;
     }
     .icons .icons-item{
        font-size: .7rem;
    }
    .icon-text{
        font-size: 0.2rem;
    }
    .icons-lists{
    padding: 1rem 1rem;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    }
    .icons-lists li{
    padding: 0.5rem 0.6rem;
}
.icons-item div a{
    font-size: 1.3rem;
}
}
@media screen and (max-width:700px){
    .main-text{
    font-size: 1.2rem;
     }
    .side-bar{
        transform: translateX(-130%);
        padding: 1rem 1rem;
    }
    .main-content{
        margin-left: 0;
        width: 100%;
    }
    .icons-item div a{
    font-size: 1.2rem;
    }
}



@media screen and (max-width:700px){
    .nav-toggle{
        transform: translateX(0);
        width: 30%;
        position: fixed;
    }
    .profile{
        margin-top: 0.1rem;
    }
    .profile img{
       width: 50%;
       border-radius: 100%;
       margin-bottom: 0.2rem;
    }
    footer p{
        display: none;
    }

}

@media screen and (max-width:570px){
    .nav-toggle{
        width: 40%;
        
    }
}

@media screen and (max-width:500px){
    .icons-item div a{
    font-size:0.8rem;
    }
    .icons-lists{
        padding: 0.6rem 0.6rem;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    } 
    .icons-item div{
        flex-direction: row;
        align-items: center;
        text-align: center;
    }
    .icons-lists li{
        padding: 0.5rem 0rem;
        border: none;
    }
    .main-text{
        font-size: 1rem;
    }
    .home-para{
        font-size: 0.6rem;
    }
}
@media screen and (max-width:450px){
.nav-toggle{
        width: 50%;
    }
}
@media screen and (max-width:350px){
.nav-toggle{
        width: 50%;
    }
    .nav-items{
        font-size: 0.6rem;
        margin-bottom: 0.8rem;
    }
}
.nav-btn{
    position: absolute;
    z-index: 10;
    right: 10%;
    top:5%;
    width: 2rem;
    height: 3rem;
    display: none;
    /* display: flex; */
    align-items: center;
    cursor: pointer;
    justify-content: center;
}
.lines-1 , .lines-2 , .lines-3{
    height: .1rem;
    width: 100%;
    background-color: blue;
    pointer-events: none;
        /* margin-bottom: 0.4rem; */

}
.lines:not(:last-child){
    margin-bottom: 0.4rem;
}
@media screen and (max-width:700px){
  .nav-btn{
      display: block;
  }
}

.test{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}